---
http_interactions:
- request:
    method: get
    uri: http://openlibrary.org/search.json?place=miami&quantity=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.405 TT 0 0.513"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 1518,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL6779776W",
                    "type": "work",
                    "seed": [
                        "/books/OL17821375M",
                        "/books/OL14522841M",
                        "/books/OL15573985M",
                        "/books/OL14548447M",
                        "/books/OL17819870M",
                        "/books/OL17820164M",
                        "/books/OL17820376M",
                        "/books/OL21546197M",
                        "/books/OL17819830M",
                        "/books/OL21546192M",
                        "/books/OL175[...]
